* {
    box-sizing: border-box;
}

p {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(77, 219, 251);
    padding: 8px;
    background-color: coral;
}

a {
    color: rgb(224, 33, 33);
    display: block;
}

body {
    background-color: rgb(53, 26, 78);
    color: aliceblue;
}
